<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
  
<mapper namespace="com.hk.conred.A">
     
     <select id="admin_site_userlist" resultType="UDto" parameterType="String">
     	<![CDATA[ 
     	SELECT USER_ID, USER_NAME, USER_EMAIL, USER_BIRTH, USER_SEX, USER_REGDATE, USER_AGREEMENT,
     	USER_OUT, USER_BLACK, USER_ROLE, USER_POINT        
		FROM CON_USER   
		WHERE USER_ID LIKE '%'||#{keyword}||'%' OR USER_NAME LIKE '%'||#{keyword}||'%' OR USER_EMAIL LIKE '%'||#{keyword}||'%' OR USER_BIRTH LIKE '%'||#{keyword}||'%' 
		OR USER_SEX LIKE '%'||#{keyword}||'%' OR USER_REGDATE LIKE '%'||#{keyword}||'%' OR USER_AGREEMENT LIKE '%'||#{keyword}||'%' OR USER_OUT LIKE '%'||#{keyword}||'%' OR 
		USER_BLACK LIKE '%'||#{keyword}||'%' OR USER_ROLE LIKE '%'||#{keyword}||'%' OR USER_POINT LIKE '%'||#{keyword}||'%'
     	]]>
     </select>
     
      <select id="admin_blackuser_search" resultType="UDto" parameterType="String">
     	<![CDATA[ 
     	SELECT *
     	FROM CON_USER
     	WHERE USER_BLACK = 'Y' AND (USER_ID LIKE '%'||#{keyword}||'%' OR USER_NAME LIKE '%'||#{keyword}||'%')
     	]]>
     </select>
     
     
     <select id="admin_site_ownerlist" resultType="ODto">
     	<![CDATA[
     	SELECT * 
     	FROM CON_OWNER
     	]]>
     </select>
     
     <select id="admin_site_storelist" resultType="SDto">
     	<![CDATA[ 
     	SELECT STORE_SEQ, OWNER_ID, STORE_NAME, STORE_OWNER_NAME, STORE_PATH, STORE_OWNER_NAME, STORE_PATH, STORE_SIMPLE_INTRO, 
     	STORE_INTRO, STORE_STATE, STORE_PHONE, STORE_OWNER_PHONE, STORE_ADDRESS, STORE_DETAIL_ADDRESS, STORE_TIME_OTHER, 
     	STORE_BANK, , , ,      
		FROM CON_USER   
		WHERE STORE_SEQ LIKE '%'||#{keyword}||'%' OR OWNER_ID LIKE '%'||#{keyword}||'%' 
		OR STORE_NAME LIKE '%'||#{keyword}||'%' OR STORE_OWNER_NAME LIKE '%'||#{keyword}||'%' 
		OR STORE_PATH LIKE '%'||#{keyword}||'%' OR STORE_SIMPLE_INTRO LIKE '%'||#{keyword}||'%' 
		OR STORE_INTRO LIKE '%'||#{keyword}||'%' OR STORE_STATE LIKE '%'||#{keyword}||'%' 
		OR STORE_PHONE LIKE '%'||#{keyword}||'%' OR STORE_OWNER_PHONE LIKE '%'||#{keyword}||'%' 
		OR STORE_ADDRESS LIKE '%'||#{keyword}||'% OR STORE_DETAIL_ADDRESS LIKE '%'||#{keyword}||'%'
		OR STORE_TIME_OTHER LIKE '%'||#{keyword}||'%'OR STORE_BANK LIKE '%'||#{keyword}||'%'
		OR STORE_ACCOUNT LIKE '%'||#{keyword}||'%'OR STORE_LICENSE_OWNER LIKE '%'||#{keyword}||'%'
		OR STORE_LICENSE_SALES LIKE '%'||#{keyword}||'%'OR STORE_ADMIN_STATE LIKE '%'||#{keyword}||'%'
     	]]>
     </select>


<!--       <select id="admin_blackuser_search" resultType="UDto" parameterType="String"> -->
<!--      	<![CDATA[  -->
<!--      	SELECT * -->
<!--      	FROM CON_USER -->
<!--      	WHERE USER_BLACK = 'Y' AND (USER_ID LIKE '%'||#{keyword}||'%' OR USER_NAME LIKE '%'||#{keyword}||'%') -->
<!--      	]]> -->
<!--      </select> -->
     
    
</mapper>