<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
  
<mapper namespace="com.hk.conred.A">
     
     <select id="admin_site_userlist" resultType="UDto">
     	<![CDATA[ 
     	SELECT *
     	FROM CON_USER
     	]]>
     </select>
     
     <select id="admin_site_ownerlist" resultType="ODto">
     	<![CDATA[
     	SELECT * 
     	FROM CON_OWNER
     	]]>
     </select>
     
     <select id="admin_site_storelist" resultType="SDto">
     	<![CDATA[
     	SELECT *
     	FROM CON_STORE
     	]]>
     </select>
     
    
     
   
</mapper>