<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
  
<mapper namespace="com.hk.conred.Interests">


	<!-- 임시로 아이디 test로 넣어줌 #{user_id}로 바꿔야됨 -->
	<insert id="insertInterests" parameterType="String">
		INSERT INTO CON_INTERESTS 
		<foreach collection="array" separator=",">
			VALUES(CON_INTERESTS_SEQ.NEXTVAL,'test',#{category_code})			
		</foreach>
	</insert>
	
</mapper>
	 