<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
  
<mapper namespace="com.hk.conred.O">
	
	<insert id="insertOwner" parameterType="ODto">
		INSERT INTO CON_OWNER
		VALUES(#{owner_id},#{owner_password},#{owner_name},
		#{owner_email},#{owner_birth},#{owner_sex},SYSDATE,#{owner_agreement},'N')
	</insert>
	
	<select id="ownerIdCheck" parameterType="String" resultType="String">
		SELECT OWNER_ID FROM CON_OWNER WHERE OWNER_ID =#{owner_id}
	</select>
	 
	<select id="getLogin" resultType="ODto" parameterType="Map">
		SELECT OWNER_ID ,OWNER_NAME ,OWNER_EMAIL ,OWNER_BIRTH ,OWNER_SEX ,OWNER_REGDATE ,OWNER_AGREEMENT ,OWNER_OUT  
		FROM CON_OWNER 
		WHERE OWNER_ID =#{owner_id} AND OWNER_PASSWORD =#{owner_password}
	</select> 
	
	<select id="ownerMyInfo" resultType="ODto" parameterType="String">
		SELECT OWNER_ID ,OWNER_NAME ,OWNER_EMAIL ,OWNER_BIRTH ,OWNER_SEX ,OWNER_REGDATE 
		FROM CON_OWNER 
		WHERE OWNER_ID =#{owner_id}
	</select>
	 
	<update id="ownerUpdate" parameterType="ODto">
		UPDATE CON_OWNER SET OWNER_BIRTH=#{owner_birth} WHERE OWNER_ID=#{owner_id}
	</update>
	
	<update id="ownerDelete" parameterType="String">
		UPDATE CON_OWNER SET OWNER_OUT='Y' WHERE OWNER_ID=#{owner_id}
	</update>
</mapper> 
	 