<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
  
<mapper namespace="com.hk.conred.Qna">
	
	<select id="qnaList" parameterType="Map" resultType="QnaDto">
		SELECT  rn, QNA_SEQ ,STORE_SEQ ,USER_ID ,QNA_CONTENT ,QNA_ANSWER,QNA_HIDE ,QNA_READ ,QNA_REGDATE ,QNA_DELFLAG 
		FROM
		    (SELECT  rownum AS rn, QNA_SEQ ,STORE_SEQ ,USER_ID ,QNA_CONTENT ,QNA_ANSWER,QNA_HIDE ,QNA_READ ,QNA_REGDATE ,QNA_DELFLAG 
		     FROM CON_QNA)
		WHERE CEIL(rn/5)=#{pnum} AND USER_ID =#{user_id}
	</select>
	
	<select id="qnaListStore" parameterType="Map" resultType="QnaDto">
		<![CDATA[
			SELECT rn QNA_SEQ ,STORE_SEQ ,USER_ID ,QNA_CONTENT ,QNA_ANSWER ,QNA_HIDE ,QNA_READ ,QNA_REGDATE ,QNA_DELFLAG 
			FROM (SELECT ROW_NUMBER()over(ORDER BY QNA_REGDATE) AS rn ,QNA_SEQ ,STORE_SEQ ,USER_ID ,QNA_CONTENT ,QNA_ANSWER ,QNA_HIDE ,QNA_READ ,QNA_REGDATE ,QNA_DELFLAG 
					FROM CON_QNA 
					WHERE STORE_SEQ =#{store_seq})
			WHERE CEIL(rn/5)=#{pnum}
		]]>
	</select>
	
	
</mapper>
	 