<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
  
	<mapper namespace="com.hk.conred.Reserve">
		
		
																	<!-- menu일렬번호 #{}으로 바꿔야함 -->
		<insert id="insertReserve" parameterType="Map">
			INSERT INTO CON_RESERVE VALUES(CON_RESERVE_SEQ.NEXTVAL,#{user_id},#{menu_seq},#{store_seq},#{reserve_time},'Y',#{reserve_price},SYSDATE);
		</insert>
		
		<select id="reserveList" parameterType="Map" resultType="ReserveDto">
			SELECT  rn, RESERVE_SEQ ,USER_ID ,cr.MENU_SEQ ,cr.STORE_SEQ ,RESERVE_TIME ,RESERVE_STATE ,RESERVE_PRICE ,
			RESERVE_SDATE ,RESERVE_EDATE ,RESERVE_REGDATE ,cm.MENU_NAME ,cs.STORE_NAME ,cs.STORE_ADDRESS  
			FROM
			    (SELECT  rownum AS rn,RESERVE_SEQ ,USER_ID ,MENU_SEQ ,STORE_SEQ ,RESERVE_TIME ,RESERVE_STATE ,RESERVE_PRICE ,RESERVE_SDATE ,RESERVE_EDATE ,RESERVE_REGDATE
			     FROM CON_RESERVE ) cr ,CON_MENU cm ,CON_STORE cs 
			WHERE cr.menu_seq=cm.MENU_SEQ AND cr.store_seq=cs.STORE_SEQ AND CEIL(rn/5)=#{pnum} AND USER_ID =#{user_id}
		</select>
		
		<select id="getReserve" parameterType="Int" resultType="ReserveDto">
			SELECT RESERVE_SEQ ,USER_ID ,MENU_SEQ ,STORE_SEQ ,RESERVE_TIME ,RESERVE_STATE ,RESERVE_PRICE ,RESERVE_REGDATE 
			FROM CON_RESERVE 
			WHERE RESERVE_SEQ =#{reserve_seq}
		</select>
		 
		<select id="reserveMax" resultType="ReserveDto" parameterType="Map">
			SELECT COUNT(cr.RESERVE_TIME) AS ct ,cr.RESERVE_TIME 
			FROM CON_RESERVE cr, CON_STORE cs 
			WHERE cr.STORE_SEQ =cs.STORE_SEQ  AND cr.STORE_SEQ =#{store_seq} AND cr.MENU_SEQ =#{menu_seq} AND cr.RESERVE_SDATE =#{reserve_sdate}
			GROUP BY RESERVE_TIME 
		</select> 
		 
		
	</mapper>
		  